<%= form.fields_for :profile do |nested_form| %>
  <fieldset>
    <legend><%= Profile.model_name.human %></legend>

    <div class="field">
      <%= nested_form.label :zipcode %>
      <%= nested_form.text_field :zipcode, autocomplete: 'postal-code' %>
    </div>

    <div class="field">
      <%= nested_form.label :address %>
      <%= nested_form.text_field :address, autocomplete: 'street-address' %>
    </div>

    <div class="field">
      <%= nested_form.label :description %>
      <%= nested_form.text_area :description, size: '70x5' %>
    </div>
  </fieldset>
<% end %>
