<p>
  <strong><%= Profile.human_attribute_name(:zipcode) %>:</strong>
  <%= profile.zipcode %>
</p>

<p>
  <strong><%= Profile.human_attribute_name(:address) %>:</strong>
  <%= profile.address %>
</p>

<p>
  <strong><%= Profile.human_attribute_name(:description) %>:</strong>
  <%= profile.description %>
</p>
