<%= form_with(model: report) do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, size: '70x5' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
