<h1><%= t('views.common.title_show', name: Report.model_name.human) %></h1>

<p>
  <strong><%= Report.human_attribute_name(:title) %>:</strong>
  <%= @report.title %>
</p>

<p>
  <strong><%= Report.human_attribute_name(:content) %>:</strong>
  <pre><%= @report.content %></pre>
</p>

<p>
  <strong><%= Report.human_attribute_name(:user_id) %>:</strong>
  <%= @report.user.name %>
</p>

<p>
  <strong><%= Report.human_attribute_name(:created_at) %>:</strong>
  <%= @report.created_at %>
</p>

<% if @report.editable?(current_user) %>
  <%= link_to t('views.common.edit'), edit_report_path(@report) %> |
<% end %>
<%= link_to t('views.common.back'), reports_path %>

<hr>

<%= render '/comments/index', comments: @report.comments %>
<%= render '/comments/new', comment: @report.comments.build %>
